<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Update From Master Repository</h1>



  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Long Press r@D -->
  <ion-card>
    <ion-card-header>Long Press Directive</ion-card-header>
    <ion-button appLongpress (press)="callFunction()">Click For Long Press</ion-button>
  </ion-card>

  <!-- File Download r@D -->
  <ion-card>
    <ion-card-header>File Download </ion-card-header>
    <ion-button (click)="generateReport()">Click For Download</ion-button>
  </ion-card>


  <ion-button (click)="scanToken()">Scan Token</ion-button>


  <ion-button (click)="scanToken1()">Scan Token</ion-button>

</ion-content>